<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{url_for('static', filename='js/createCookie.js')}}"></script>
    <title>Document</title>
</head>
<body>
    {% if message %}
        <h1>{{ message }}</h1>
    {% endif %}
    <!-- Login page with phone and password -->
    <form action="/getCustomer/loginApi" method="POST">
        <input type="text" name="phone" placeholder="Phone">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</body>
</html>