<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/products_style.css')}}">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <script type="text/javascript" src="{{url_for('static', filename='js/product_cookie.js')}}"></script>
    <title>Gold Bangles</title>
</head>

<body>
    <div class="hero_area">
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="{{url_for('index')}}">
                        <img src="{{url_for('static', filename='images/Caratlane-logo-PNG.webp')}}" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav  ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{url_for('index')}}">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('about')}}"> About</a>
                                </li>
                                <!-- <li class="nav-item">
                        <a class="nav-link" href="{{url_for('jewellery')}}">Jewellery </a>
                      </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('contact')}}">Contact us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">Login</a>
                                </li>
                            </ul>

                        </div>
                        <div class="quote_btn-container ">
                            <a href="">
                                <img src="{{url_for('static', filename='images/cart.png')}}" alt="">
                                <div class="cart_number">
                                    0
                                </div>
                            </a>
                            <form class="form-inline">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/product_operation.js')}}"></script>
    <script>
        let category, product_ID,uID;
        let cookieN = "userFingerPrint";
        uID=getCookie(cookieN);
        function setDeviceFingerprintCookie(id, ip, v_loc, v_os, v_browser, v_incog,catID,proID) {
                // console.log(id)
                setCookie(id, ip, v_loc, v_os, v_browser, v_incog,catID,proID);
            }
            if (checkCookie("userFingerPrint") == true) {
                displayDetails(category,product_ID,uID);
                console.log("Cookie Exists");
                console.log(`User Fingerprint: ${getCookie("userFingerPrint")}`)
            }
            else {
                function getVisitorID() {
                    const fpPromise = import('https://fpjscdn.net/v3/UnS8qXlX9aVOQncJJVKP')
                        .then(FingerprintJS => FingerprintJS.load())
                    fpPromise
                        .then(fp => fp.get({ extendedResult: true }))
                        .then(result => {
                            const visitorId = result.visitorId
                            const v_IP = result.ip
                            const v_location = result.ipLocation.city.name;
                            const v_OS = {
                                "os": result.os,
                                "osVersion": result.osVersion
                            }
                            const v_Browser = {
                                "browser": result.browserName,
                                "browserVersion": result.browserVersion
                            }
                            const v_incognito = result.incognito;
                            category = window.sessionStorage.getItem("categoryID");
                            product_ID = window.sessionStorage.getItem("productID");
                            setDeviceFingerprintCookie(visitorId, v_IP, v_location, v_OS, v_Browser, v_incognito,category,product_ID);
                        })
                }
                getVisitorID()
            }
    </script>
</body>

</html>