<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{url_for('static', filename='js/createCookie.js')}}"></script>
    <title>Registration</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/logincss.css')}}" />

</head>

<body>
        <main class="main">
            <div class="container">
                <section class="wrapper">
                    <h1 class="text-center header_section">Register</h1>
                    <form action="/getCustomer/signUp" method="POST" class="form">
                        <div class="form-group has-feedback input-control">
                            <label for="name" class="input-label" hidden>Name</label>
                            <input type="name" name="name" id="name" class="input-field" placeholder="Name">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback input-control">
                            <label for="address" class="input-label" hidden>Address</label>
                            <input type="address" name="address" id="address" class="form-control input-field"
                                placeholder="Address">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback input-control">
                            <label for="phone" class="input-label" hidden>Phone</label>
                            <input type="phone" name="phone" id="phone" class="form-control input-field" placeholder="Phone Number" value={{phone}}>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback input-control">
                            <label for="email" class="input-label" hidden>Email</label>
                            <input type="email" name="email" id="email" class="form-control input-field" placeholder="Email">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback input-control">
                            <label for="email" class="input-label" hidden>Password</label>
                            <input type="password" name="password" id="password" class="form-control input-field" placeholder="Password">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="row input-control">
                            <div class="col-xs-8">
                                <div class="checkbox icheck">
                                    <label>
                                        <input type="checkbox"> I agree to the <a href="#">terms</a>
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-4 ">
                                <button type="submit" class="btn btn-primary btn-block btn-flat input-submit">Register</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </section>
            </div>
        </main>

</body>

</html>