<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}" />
    <link rel="stylesheet" href="../static/css/bootstrap.css">

</head>

<!-- TODO: BEAUTIFY AFTER BACKED DEV COMPLETES WORK -->

<body>
    <div class="container">
    <div class="heading">
        <h1>Customer</h1>
    </div>
    {% if customerData is not none %}
    <div class="rowContent">
        <p>Name: </p> <h3>{{customerData.name}}</h3>
    </div>
    <div class="rowContent">
        <p>Phone: </p>
        <h3>{{customerData.phone}}</h3>
    </div>
    <div class="rowContent">
        <p>Email: </p>
        <h3>{{customerData.email}}</h3>
    </div>
    <div class="rowContent">
        <p>Address: </p>
        <h3>{{customerData.address}}</h3>
    </div>
    {% endif %}

    {% if data is not none %}
    <h1>Actions</h1>
    <ul>
        {% for action in data|reverse %}
        <li style="border: solid black 4px; margin-top: 5px;"><div>
            <p>Date(YYYY-MM-DD) and Time: </p>
            <h3>{{action.timestamp}}</h3>
            <p>Category: </p>
            <h3>{{action.data.CatgoryID}}</h3>
            {% if action.data.ProductID %}
            <p>Product: </p>
            <h3>{{action.data.ProductID}}</h3>
            {% endif %}
        </div></li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
</body>

</html>