<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<!-- TODO: BEAUTIFY AFTER BACKED DEV COMPLETES WORK -->

<body>
    <h1>Customer</h1>
    <h3>{{Customer.name}}</h3>
    <h3>{{Customer.phone}}</h3>
    <h3>{{Customer.email}}</h3>
    <h3>{{Customer.address}}</h3>
    <h1>Actions</h1>
    <ul>
        {% for action in actions_list %}
        <li>{{ action }}</li>
        {% endfor %}
    </ul>
</body>

</html>